{% extends 'base.html.twig' %}
{% block style %}
.tab{
    text-align:center;
}  

{% endblock %}

{% block title %}Liste des paiements par locataire {% endblock %}

{% block contenu %}
    
<br/>


<h3>Loyers de {{bail.locataires[0].nom}} {{bail.locataires[0].prenom}} {% if bail.locataires[1].nom is defined and bail.locataires[1] !='' %} et {{bail.locataires[1].nom}} {{bail.locataires[1].prenom}} {% endif %} </h3>

<div class="tab">
<table class="table text-sm mb-0 table-striped">
    <thead>
        <tr>
            <th scope="col">Mois</th>
            <th scope="col">Versement</th>
            <th scope="col">Caf</th>
            <th scope="col">Total versé</th>
            <th scope="col">Solde du mois</th>
            <th scope="col">Solde total</th>
        </tr>
    </thead>

    

    {% for p in bail.paiements %}
    {% set montantV = 0 %}
    {% set montantC = 0 %}
    {% set somme = 0 %}
    <tr>
                
        <td>{{ p.dateP|date("m/Y") }}</td>
        <td> {% if p.source == null %} {{ p.montant }} {% set montantV = p.montant %} {% endif %} </td>
        <td> {% if "CAF" in p.source %} {{p.montant}} {% set montantC = p.montant %} {% endif %} </td>
        <td> {% set somme = montantV + montantC %} {{somme}} </td>
        <td> </td>
        <td> </td>


    </tr>

    {% endfor %}

</table>
</div>

{% endblock %}