{% extends 'base.html.twig' %}
{% block style %}
.tab{
    text-align:center;
}  

{% endblock %}

{% block title %} Fiche d'appartement {% endblock %}

{% block titrePage %} Information de l'Appartement n° de porte {{appart.porte}} {% endblock %}

{% block contenu %}
<br />    


<section class="pb-5"> 
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-6">
                <div class ="card">
                    <div class="card-header border-bottom">
                        <h3>Surface</h3>
                        <br/><p> {{appart.surface}} m² </p>
                    </div>


                    <div class="card-header border-bottom">
                        <h3>Surface au sol</h3>
                        <br/><p> {{appart.surfaceSol}} m² </p>
                    </div>

                    <div class="card-header border-bottom">
                        <h3>Situation</h3>
                        <br/><p> {{appart.situation}} </p>
                    </div>

                </div>
            </div>

            <div class="col-lg-6">
                <div class ="card">
                    <div class="card-header border-bottom">
                        <h3>Equipements</h3>
                        <br/><p> {{appart.equipements}} </p>
                    </div>

                    
                    <div class="card-header border-bottom">
                        <h3>Travaux</h3>
                        <br/><p> {{appart.travaux}} </p>
                    </div>


                    {% if appart.ventilation != "null"%}

                    <div class="card-header border-bottom">
                        <h3>Information sur la ventilation</h3>
                        <br/><p> {{appart.ventilation}} </p>
                    </div>

                    {% endif %}

                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class ="card">
                    <div class="card-header border-bottom">
                        <h3>Locataires</h3>
                        
                            <div class="tab">
                                <table class="table text-sm mb-0 table-striped">
                                    <thead>
                                        <tr>
                                            <th width="10%" scope="col">Nom</th>
                                            <th width="15%" scope="col">Prénom</th>
                                            <th scope="col">Numéro de bail</th>
                                        </tr>
                                    </thead>
                                
                                    {% for b in appart.bails %}
                                
                                        <tr>
                                            <td>{{b.locataires[0].nom}} {% if b.locataires[1] is defined %}{{b.locataires[1].nom}}{% endif %} </td>                                            
                                            <td>{{b.locataires[0].prenom}} {% if b.locataires[1] is defined %}{{b.locataires[1].prenom}}{% endif %} </td>                                            
                                            <td><a href="">{{ b.id }}</a></td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}