{% extends 'base.html.twig' %}


{% block title %} Ajouter un nouveau bail {% endblock %}

{% block contenu %} 
<div class="card-body">
    
    {{ form_start(form) }}


<br/>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            {{ form_widget(form.appartement, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-6">
            {{ form_widget(form.locataires) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            {{ form_widget(form.dateDebut, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-3">
            {{ form_widget(form.montantHC, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-3">
            {{ form_widget(form.montantCharges, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-3">
            {{ form_widget(form.montantCaution, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_widget(form.nomCaution1, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-6">
            {{ form_widget(form.nomCaution2, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            {{ form_widget(form.dateFin, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-3">
            {{ form_widget(form.dureeBail, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-3">
            {{ form_widget(form.bailSigne, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-3">
            {{ form_widget(form.etatLieuEntree, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            {{ form_widget(form.etatLieuSortie, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-3">
            {{ form_widget(form.attestationAssurance, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div



div class="col-md-3">
{{ form_widget(form.montantPremEcheance, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="col-md-3">
{{ form_widget(form.montantDerEcheance, {'attr': {'class': 'form-control'}}) }}
</div>
</div>
<div class="row">
<div class="col-md-3">
{{ form_widget(form.archive, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="col-md-3">
{{ form_widget(form.associe, {'attr': {'class': 'form-control'}}) }}
</div>
</div>
<div class="row">
<div class="col-md-12 text-center">
<input type="submit" value="Enregistrer" class="btn btn-primary">
</div>
</div>
{{ form_rest(form) }}

</div>

{% endblock %}