{% extends 'base.html.twig' %}

{% block title %} Fiche du bail {% endblock %}

{% block contenu %}
<br />    
<h2>Information du bail</h2>
<br />

<div class="row">
<div class="col-lg-6">
    <div class ="card">
        <div class="card-header border-bottom">
            <h3>Numéro du bail</h3>
            <br/><p> {{bail.id}} </p>
        </div>


        <div class="card-header border-bottom">
            <h3>Nom locataire(s)</h3>
            <br/><p> {{bail.locataires[0].nom}} {% if bail.locataires[1] is defined %} {{bail.locataires[1].nom}} {%endif%} </p>
        </div>

        <div class="card-header border-bottom">
            <h3>Numéro de porte d'appartement</h3>
            <br/><a href="{{ path('appartementConsulter', { 'id': bail.appartement.id }) }}"><p> {{bail.appartement.porte}} </a></p>
        </div>

        <div class="card-header border-bottom">
          <h3>Date de début du bail</h3>
          <br/><p> {{bail.dateDebut|date("d/m/Y")}} </p>
        </div>

        <div class="card-header border-bottom">
          <h3>Date de fin du bail</h3>
          <br/><p> {% if bail.dateFin is defined and not "null" %} {{bail.dateFin|date("d/m/Y")}} {% endif %} </p>
        </div>

        <div class="card-header border-bottom">
          <h3>Durée du bail</h3>
          <br/><p> {{bail.dureeBail}}</p>
        </div>

        <div class="card-header border-bottom">
          <h3>Associé en charge</h3>
          <br/><p> {% if bail.associe.nom is defined %} {{bail.associe.nom}} {%endif%} </p>
        </div>

    </div>
</div>

<div class="col-lg-6">
    <div class ="card">
        <div class="card-header border-bottom">
            <h3>Montant hors charges</h3>
            <br/><p> {{bail.montantHC}} €</p>
        </div>

        <div class="card-header border-bottom">
          <h3>Charges</h3>
          <br/><p> {{bail.montantCharges}} €</p>
        </div>

        <div class="card-header border-bottom">
          <h3>Montant TTC</h3>
          <br/><p> {{bail.montantHC + bail.montantCharges}} €</p>
        </div>

        <div class="card-header border-bottom">
          <h3>Cautionneur(s)</h3>
          <br/><p> {{bail.nomCaution1}} {% if bail.nomCaution2 is defined and bail.nomCaution2 !='' %} & {{bail.nomCaution2}} {%endif%} </p>
        </div>

        <div class="card-header border-bottom">
          <h3>Montant Caution</h3>
          <br/><p> {{bail.montantCaution}} €</p>
        </div>

        <div class="card-header border-bottom">
          <h3>Montant première échéance</h3>
          <br/><p> {{bail.montantPremEcheance}} €</p>
        </div>

    </div>
</div>
</div>


{% endblock %}