{% extends 'base.html.twig' %}
{% block contenu %}
<head>
    <title> Liste des appartements </title>
</head>
<br/>
<h3>Listes des appartements</h3>
<br/>
<table class="table text-sm mb-0 table-striped">
<thead>
    <tr>
        <th>Appartement</th>
        <th>Locataire</th>
        <th>Loyer HC</th>
        <th>Loyer TTC</th>
        <th>Caution</th>
        <th>Date entrée</th>
        <th>Surface</th>
    </tr>
</thead>
{% for b in baux %}
<tr>
    <td><a href=""> {{ b.appartement.porte }}</a></td>
    <td><a href=""> {{b.locataires[0].nom}} {{b.locataires[0].prenom}}
                    {% if b.locataires[1] is defined %} {{b.locataires[1].nom}} {% endif %}
                    {% if b.locataires[1] is defined %} {{b.locataires[1].prenom}} {% endif %}
    </a> </td>

    <td>{{ b.montantHC }} {% if b.montantHC != null %}€{% endif %}</td>
    <td>{{ b.montantHC + b.montantCharges }} {% if b.montantHC + b.montantCharges != null %}€{% endif %}</td>
    <td>{{ b.montantCaution }} {% if b.montantCaution != null %}€{% endif %}</td>
    <td>{{ b.dateDebut|date("d/m/Y") }}</td>
    <td>{{ b.appartement.surface }} {% if b.appartement.surface != null %}m²{% endif %}</td>
</tr>
    
{% else %}
<tr>
<td>Aucun appartement n'a été trouvé.</td>
</tr>
{% endfor %}

<tr>
    <th> Montant total LoyerHC </th>
    <th> Montant total LoyerTTC </th>
    <th> Montant total Caution </th>
</tr>
{% set sommeHC = 0 %}
{% set sommeTTC = 0 %}
{% set sommeCaution = 0 %}
<tr>
    <td>{% for b in baux %} 
        {% for l in b.locataires %}
        {% set sommeHC = sommeHC+b.montantHC%} {% endfor %} {% endfor %}{{sommeHC}}
    </td>

    <td>{% for b in baux %}
        {% for l in b.locataires %}
        {% set sommeTTC = sommeTTC+(b.montantHC+b.montantCharges)%} {% endfor %} {% endfor %}{{sommeTTC}}
    </td>

    <td>{% for b in baux %}
        {% for l in b.locataires %}
        {% set sommeCaution = sommeCaution+b.montantCaution%} {% endfor %} {% endfor %}{{sommeCaution}}
        
    </td>
</tr>

</table>
{% endblock %}