{% extends 'base.html.twig' %}
{% block contenu %}
<head>
    <title> Liste des appartements </title>
</head>

<h3>Listes des appartements</h3>

<table class="table text-sm mb-0 table-striped">
<thead>
    <tr>
        <td><b><center>Appartement</center></b></td>
        <td><b><center>Locataire</center></b></td>
        <td><b>Loyer HC</b></td>
        <td><b>Loyer TTC</b></td>
        <td><b>Caution</b></td>
        <td><b>Date entrée</b></td>
        <td><b>Surface</b></td>
    </tr>
</thead>
{% for a in pApparts %}
{% for l in a.locataires %}
<tr>
    <td><center><a href="">{{ a.appartement.porte }}</center></a></td>
    <td><center><a href="">{{l.nom}} {{l.prenom}}</a> </center></td>
    <td>{{ a.montantHC }} {% if a.montantHC != null %}€{% endif %}</td>
    <td>{{ a.montantHC + a.montantCharges }} {% if a.montantHC + a.montantCharges != null %}€{% endif %}</td>
    <td>{{ a.montantCaution }} {% if a.montantCaution != null %}€{% endif %}</td>
    <td>{{ a.dateDebut|date("d/m/Y") }}</td>
    <td>{{ a.appartement.surface }} {% if a.appartement.surface != null %}m²{% endif %}</td>
</tr>
    
{% else %}
<tr>
<td>Aucun appartement n'a été trouvé.</td>
</tr>
{% endfor %}
{% endfor %}

<tr>
    <td><b> Montant total LoyerHC </b></td>
    <td><b> Montant total LoyerTTC </b></td>
    <td><b> Montant total Caution </b></td>
</tr>
{% set sommeHC = 0 %}
{% set sommeTTC = 0 %}
{% set sommeCaution = 0 %}
<tr>
    <td>{% for a in pApparts %}
        {% for l in a.locataires %}
        {% set sommeHC = sommeHC+a.montantHC%} {% endfor %} {% endfor %}{{sommeHC}}
    </td>

    <td>{% for a in pApparts %}
        {% for l in a.locataires %}
        {% set sommeTTC = sommeTTC+(a.montantHC+a.montantCharges)%} {% endfor %} {% endfor %}{{sommeTTC}}
    </td>

    <td>{% for a in pApparts %}
        {% for l in a.locataires %}
        {% set sommeCaution = sommeCaution+a.montantCaution%} {% endfor %} {% endfor %}{{sommeCaution}}
        
    </td>
</tr>

</table>

{% endblock %}